/* Paleta de colores:
#000000 #121212 #f5c518 #FFFFFF */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Raleway&family=Roboto+Condensed:wght@700&family=Slabo+27px&display=swap");
* {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
}

.font-raleway {
  font-family: "Raleway Condensed", sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-align: justify;
}

.image {
  background-image: url(https://tinypic.host/images/2022/11/19/Proyecto-nuevo-5.png);
}
.image2 {
  background-image: url(https://tinypic.host/images/2022/11/19/Proyecto-nuevo-2.png);
}
.image3 {
  background-image: url(https://tinypic.host/images/2022/11/19/calaveritas.jpg);
}
.banner {
  background-image: url(https://tinypic.host/images/2022/11/19/Proyecto-nuevo-6.png);
}

.b-black {
  background-color: #000000;
}
.b-grey {
  background-color: #121212;
}
.b-yellow {
  background-color: #f5c518;
}
.b-white {
  background-color: #ffffff;
}

.border-black {
  filter: drop-shadow(0px 3px #000000);
}

.fade-black {
  background-image: linear-gradient(
    to right,
    transparent,
    #f5c5184b,
    #000000 85%
  );
}

.links:hover {
  text-decoration: none;
  font-family: "Roboto condensed", sans-serif;
  text-align: center;
  justify-content: center;
  background-color: #f5c518;
  box-shadow: 0px 0px 5px 2px #f5c518;
  color: black;
  transition: 0.2s;
}

.f-black {
  color: #000000;
  text-decoration: inherit;
}
.f-grey {
  color: #121212;
  text-decoration: inherit;
}
.f-yellow {
  color: #f5c518;
  text-decoration: inherit;
}
.f-white {
  color: #ffffff;
  text-decoration: inherit;
}

.gradient1 {
  background-image: linear-gradient(to bottom, transparent, #ffffff25);
}
