/* Paleta de colores:
#000000 #121212 #f5c518 #FFFFFF */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Raleway&family=Roboto+Condensed:wght@700&family=Slabo+27px&display=swap");

* {
  color: #ffffff;
  font-family: "Raleway Condensed", sans-serif;
  font-weight: 450;
  font-size: medium;
}
body {
  cursor: url("https://tinypic.host/images/2022/11/22/Proyecto-nuevo-10.png"),
    auto;
  height: 100vh;
}
.font-raleway {
  font-family: "Raleway Condensed", sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-align: justify;
}
.main-background {
  border: 1px solid #888888 !important;
  border-radius: 10px;
}
.image {
  background-image: url(https://tinypic.host/images/2022/11/19/Proyecto-nuevo-5.png);
}
.image2 {
  background-image: url(https://tinypic.host/images/2022/11/19/Proyecto-nuevo-2.png);
}
.image3 {
  background-image: url(https://tinypic.host/images/2022/11/19/calaveritas.jpg);
}
.banner {
  background-image: url(https://tinypic.host/images/2022/11/19/Proyecto-nuevo-6.png);
}
.b-black {
  background-color: #000000;
}
.b-black2 {
  background-color: #00000070;
  display: flex;
  text-align: center;
  align-items: center;
  height: 50%;
  border: solid 1px #ffffff2f;
  border-radius: 8px;
}
.b-grey {
  background-color: #121212;
}
.b-yellow {
  background-color: #f5c518;
}
.b-yellow2 {
  background-color: #f5c51810;
  filter: contrast(1.5);
}
.b-white {
  background-color: #ffffff;
}
.border-black {
  filter: drop-shadow(5px 5px 12px #000000);
}
.fade-yellow {
  background-image: linear-gradient(transparent, #00000075);
  border: 1px solid #f5c518 !important;
  text-align: center;
  display: grid;
}

.links:hover {
  text-decoration: none;
  background-color: #f5c518;
  box-shadow: 0px 0px 5px 2px #f5c518;
  color: black;
  transition: 0.2s;
}
.f-black {
  color: #000000;
  text-decoration: inherit;
}
.f-grey {
  color: #121212;
  text-decoration: inherit;
}
.f-yellow {
  color: #f5c518;
  text-decoration: inherit;
}
.f-white {
  color: #ffffff;
  text-decoration: inherit;
}
.gradient1 {
  background-image: linear-gradient(to bottom, transparent, #000000);
}
